[submodule "ros_essentials_cpp"]
	path = ros_essentials_cpp
	url = https://github.com/suyash-more/ros_essentials_cpp.git
[submodule "ROS_VICHESTA"]
	path = ROS_VICHESTA
	url = https://github.com/sid-5/ROS_VICHESTA.git
